html, body {
  font-family: 'Hanken Grotesk', sans-serif;
  background-color:  hsl(221, 100%, 96%);
}

h3 {
  color:  hsl(230, 6%, 82%);
  font-weight: 500;
  text-align: center;
  font-size: 20px;
}

.summary {
  color:  hsl(224, 30%, 27%);
  font-weight: 600;
  text-align: left;
  margin-left: 19px;
}

.container {
  display: flex;
  background-color: lightgreen;
  width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
}

.card-1 {
 background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 50%;
  height: 400px;
  border-radius: 25px;
}

.card-2 {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  height: 400px;
  border-radius: 25px;
}

.card-circle {
  background: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 90px;
  width: 160px;
  height: 160px;
  text-align: center;
  margin: auto;
  margin-top: -40px;
}

.number {
  color:  hsl(0, 0%, 100%);
  font-size: 60px;
  font-weight: 600;
  padding-top: 40px;
}

.number-1 {
  color:  hsl(228, 4%, 75%);
  font-weight: 700;
  text-align: center;
  margin-top: -50px;
}

.text {
  font-size: 30px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-weight: 400;
  padding-top: 15px;
}

.text-1 {
  color:  hsl(228, 4%, 75%);
  text-align: center;
  margin-top: -10px;
}

.box-1 {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 220px;
  height: 40px;
  background-color: hsl(0, 12%, 97%);
  border-radius: 8px;
}

.react {
  color: hsl(0, 100%, 67%);
  margin-top: 9px;
  font-weight: bold;
}

.box-2 {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 220px;
  height: 40px;
  border-radius: 8px;
  background-color: hsl(39, 48%, 89%);
}

.memo {
 color: hsl(39, 100%, 56%);
 margin-top: 9px;
 font-weight: bold;
}

.number-2 {
  font-weight: 600;
  color: hsl(221, 100%, 96%);
}

.box-3 {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 220px;
  height: 40px;
  border-radius: 8px;
  background-color: hsl(160, 56%, 89%);
}

.verb {
 color: hsl(166, 100%, 37%);
 margin-top: 9px;
 font-weight: bold;
}

.box-4 {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 220px;
  height: 40px;
  border-radius: 8px;
  background-color: hsl(233, 41%, 92%);
}

.visu {
 color: hsl(234, 85%, 45%);
 margin-top: 9px;
 font-weight: bold;
}